body, html {
    margin: 0;
    padding: 0;
    background-color: #d5c6b8;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

#status-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
}
